.body{
    font-family: sans-serif;
}
/* 
#rcorners2 {
    border-radius: 25px;
    border: 200px solid #73AD21;
    padding: 20px;
    width: 200px;
    height: 150px;
  }
 */

 /* .border-5 {
    border-height:50px !important;
    border-width:50px !important;
} */
